<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"  href="static/css/layout.css">
       

       
            
        <title>OJ Akanbi - resume</title>

        

    </head>
  
    
       <!-- There is a better way to extend the nav bar to each site (not implemented in this project) -->
  <body>
    
    <nav>
      <div class="topnav">
        <a href="{{ url_for('resume') }}" >Resume</a>
        <a href="{{ url_for('Home') }}">Home</a>
       
    </nav> 

    <h2 class=" nametopleft">
        OJ Akanbi
      </h2>

      <div class=" center1">
        <h4 class=" layoutname typewritteranimation"> Resume </h4>
      </div>

      <div>
        <img src="static/images/Resume_OJ.png"> 

      </div>

    
    
    
    
     
   
    
  
